@use './_variables.scss';
@use './_mixins.scss';

/**
 * Content styles.
 */
main {
  flex: 1;
  padding-top: variables.$padding-mobile;

  @include mixins.mq-above(variables.$bp-small) {
    padding-top: variables.$padding-tablet;
  }

  p, a, b, em, strong, b, li, u, th, td {
    font-size: variables.$fontSize-200;
    line-height: variables.$space-350;
    font-weight: 400;
    color: variables.$text;

    @include mixins.mq-above(variables.$bp-small) {
      font-size: variables.$fontSize-300;
      line-height: variables.$space-375;
    }
  }

  p, ul, ol, table, blockquote {
    margin: 0 0 variables.$space-375;
  }

  ul, ol {
    padding-left: variables.$space-250;
  }

  blockquote {
    font-size: variables.$fontSize-300;
    line-height: variables.$space-275;
    font-weight: 700;
    color: variables.$text;
    border-left: variables.$space-85 solid var(--primary-color);
    padding: variables.$space-250;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
    margin: 0 auto variables.$space-375;

    @include mixins.mq-above(variables.$bp-small) {
      max-width: 75%;
    }
  }

  strong, b {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  a {
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;

    &:visited {
      color: var(--primary-color);
    }

    &:hover,
    &:focus {
      color: variables.$background;
      background-color: var(--primary-color);
      text-decoration: none;
      outline: none;
    }
  }

  table {
    display: block;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
    overflow-x: auto;

    th {
      text-align: left;
      padding: variables.$space-150;
      border: variables.$space-10 solid variables.$text;

      * {
        font-weight: 600;
        margin: 0;
        padding: 0;
      }
    }

    td {
      text-align: left;
      padding: variables.$space-150;
      border: variables.$space-10 solid variables.$text;

      @include mixins.mq-below(variables.$bp-small) {
        min-width: variables.$space-1000;
      }

      * {
        margin: 0;
        padding: 0;
      }
    }
  }
}