@use './styles/_normalize.scss';
@use './styles/_variables.scss';
@use './styles/_mixins.scss';
@use './styles/_heading.scss';
@use './styles/_content.scss';
@use './styles/_navigation.scss';
@use './styles/_footer.scss';
@use './styles/_error.scss';

/**
 * Sizing styles.
 **/
body {
  background: variables.$background;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding-top: variables.$padding-mobile;

  @include mixins.mq-above(variables.$bp-small) {
    padding-top: variables.$padding-tablet;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 4 * variables.$grid-column-width-mobile;
  padding-left: variables.$padding-mobile;
  padding-right: variables.$padding-mobile;

  @include mixins.mq-above(variables.$bp-small) {
    max-width: 8 * variables.$grid-column-width-tablet;
    padding-left: variables.$padding-tablet;
    padding-right: variables.$padding-tablet;
  }

  @include mixins.mq-above(variables.$bp-medium) {
    max-width: 12 * variables.$grid-column-width-desktop;
    padding-left: variables.$padding-desktop;
    padding-right: variables.$padding-desktop;
  }
}


